:root {
    --cor1: white;
    --cor2: black;
    --cor3: rgba(78, 117, 190, 0.74);
    --cor4: rgb(80, 80, 80);
    --cor5: rgba(221, 221, 221, 0.849);
    --cor6: rgba(240, 239, 239, 0.973);
    --cor7: rgb(221, 221, 221);
}

body {
    background-color: var(--cor5);
}

/* section principal*/

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px;
}

.conteudo-text-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.conteudo-text-principal > p {
    font-size: 20px; 
    color: var(--cor4);
}

.conteudo-text-principal > h1 {
    color: var(--cor3); 
    font-size: 30px;
}

.area-sobre-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.icons-social {
    display: flex;
    gap: 25px;
    font-size: 25px;
    margin-top: 20px;
}

.icons-social > a {
    color: var(--cor4); 
    cursor: pointer;
}
.icons-social > a:hover {
    color: var(--cor3); 
    cursor: pointer;
}

/* navbar */
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border-left: 1px solid;
}

.div-icone-puxar-nav {
    display: block;
    position: absolute;
    width: 25px;
    height: 30px;
    left: -25px;
    top: 30px;
    background-color: red;
    border-radius: 50% 0 0 50% ;
}

.div-principal-nav {
    display: none;
    width: 55px;
}

.div-principal-nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.div-principal-nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
}